include jade/mixins/common

!!! 5
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title playcpp
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')

        // build:css({.tmp,app}) styles/main.css
        +css("styles/bootstrap.css")
        +css("styles/main.css")
        // endbuild

    body(ng-app="playCppApp",ng-controller="MainCtrl")
        .container
            nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
                .collapse.navbar-collapse
                    ul.nav.nav-tabs
                        li(ng-class="{active: isState('steps')}")
                            a(ng-href="#") Home
                        li(ng-class="{active: isState('learning')}")
                            a(ng-href="#/learn") Learn
                        li(ng-class="{active: isState('testing')}")
                            a(ng-href="#/test") Test
                        li(ng-class="{active: isState('logoff')}")
                            a(ng-href="#/login") Login

        .container(ui-view="")

        script(src='bower_components/angular/angular.js')

        // build:js scripts/modules.js
        script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
        script(src='bower_components/angular-resource/angular-resource.js')
        script(src='scripts/vendor/ui-bootstrap-tpls-0.7.0.js')
        // endbuild

        // build:js({.tmp,app}) scripts/scripts.js
        script(src='scripts/app.js')


        script(src='scripts/controllers/Question.js')
        script(src='scripts/services/Question.js')

        script(src='scripts/services/user.js')
        script(src='scripts/controllers/login.js')

        script(src='scripts/services/Steps.js')
        script(src='scripts/controllers/step.js')
        script(src='scripts/controllers/learn.js')

        script(src='scripts/controllers/main.js')
        // endbuild

