<!--
<User>
  <luckystar></luckystar>
</User>
<Date>
  <13-9-15></13-9-15>
</Date>
<Time>上午11:26</Time>-->
<!--example: +form("/myform")-->
<!--example: +checkboxes("平台","platform",["android","ios","win"])-->
<!--example: +radios("横竖屏", "orientation",["横屏", "竖屏"], "tips", defaultValue)-->
<!--example: +input("text","客户端名称","name","默认xFace")-->
<!--submit()-->
<!-- private mixins-->
<div ng-controller="QuestionCtrl" class="question well">
  <div class="question-content bottom">{{question.content}}</div>
  <ul ng-repeat="answer in question.answers" class="question-choices">
    <li ng-click="select($index)" class="btn btn-default">{{answer}}</li>
  </ul>
  <div ng-disabled="isFirst()" ng-click="pre()" class="btn btn-default">前一个</div>
  <div ng-disabled="isLast()" ng-click="next()" class="btn btn-default">后一个</div>
</div>